html,

* {
    box-sizing: border-box;
}

body {
    display: block;
    height: 100%;
    margin: 0 auto;
    min-width: fit-content;
    max-width: 25%;
    background-color: #ffffff;
    font-family: arial;
    font-size: 14px;
    color: #212121;
    line-height: 140%;
    padding: 10px;
}

.header {
    line-height: 140%;
}

.header h1 {
    font-size: 30px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.text {
    line-height: 140%;
    max-width: 850px;
}

.footer {

    padding: 3px;
    margin-top: 20px;
}